@use "@material/button/mdc-button";
@use "@material/button";

@use "@material/card";

@include card.core-styles;

body {
    background-color: #eceff1;
    font-family: "Roboto", sans-serif;
    margin: 0em;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

.container {
    margin: 0em auto;
    padding: 0.5em;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5em;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.left {
    width: calc(40% - 0.25em);
}

.right {
    width: calc(60% - 0.25em);
}

.socials {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    margin: -2.25em 0.5em 0.55em 0.5em;
}
.social {
    font-weight: bold;
    color: #eceff1;
    background-color: #204080;
    border-radius: 0.75em;
    padding: 0.25em 0.5em;
}
.social > i {
    margin-right: 0.25em;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1em;
    row-gap: 1em;
}

.dark {
    background-color: #204080; // blue-thau
    color: #eceff1; // blue-grey-50
}
.dark > h3 {
    color: #b0bec5; // blue-grey-200
}

.light {
    background-color: #ffffff; // white
    color: #607d8b; // blue-grey-500
}

.badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}
.badge {
    background-color: #eceff1; // blue-grey-50
    border-radius: 0.75em;
    color: #455a64; // blue-grey-700
    font-size: 0.85em;
    font-weight: bold;
    padding: 0.25em 0.75em;
}

.contacts {
    display: flex;
    flex-direction: column;
    row-gap: 0.75em;
}

.contact {
    display: flex;
    flex-direction: row;
    column-gap: 0.75em;
}

.blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 0.5em 0em;
    padding: 0.5em 10px;
}

@media screen and (max-width: 800px) {
    .column.left,
    .column.right {
        width: 100%;
    }

    .column.left {
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}
